.container {
	max-width: 1000px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
	align-items: center;
}

.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border-radius: 4px;
	margin-left: auto;
	margin-right: 30px;
}

.filters button:hover {
	opacity: 90%;
}

.filters div {
	height: 100%;
	width: 25%;
}

.locations {
	border-right: 1px solid #DDDDDD;
}

.filters div h3 {
	font-weight: 600;
	margin-left: 20%;
	margin-top: 7%;
	margin-bottom: 0;
}

.filters div h4 {
	font-weight: 400;
	font-size: 14px;
	margin-left: 20%;
	margin-top: 0;
}

.popover {
	background-color: #FAFAFA;
	width: 100%;
	display: none;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	list-style: none;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.locations:hover .popover {
	display: block;
}

.amenities:hover .popover {
	display: block;
}

li {
	margin-left: 20%;
	margin-bottom: 0px;
}

li h2 {
	margin-left: -15px;
	margin-bottom: 0;
}
